[2020-10-22 06:29] pascalfleury commented on #426
it's the stock version that comes with Ubuntu 20.04.1 LTS (apt install bazel
)

$ bazel version

Build label: 3.6.0

Build target:
bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar

Build time: Tue Oct 6 13:11:20 2020 (1601989880)

Build timestamp: 1601989880

Build timestamp as int: 1601989880

On Tue, Oct 20, 2020 at 1:42 AM Andrew Z Allen <notificatio

[2020-10-23 23:43] achew22 commented on #426
Hrm... I tried looking that version up in the Ubuntu but couldn't find it. It looks like Ubuntu doesn't have Bazel in its [package manager](https://packages.ubuntu.com/search?suite=all&searchon=names&keywords=bazel)? Is it possible you installed it from the [Bazel apt repo](https://docs.bazel.build/versions/3.7.0/install-ubuntu.html)?

On the debugging front. Can you try a `bazel clean --expunge`

[2020-10-25 01:06] #28 closed

[2020-10-29 17:51] jwnewman12 commented on #416
I can confirm this happens, when using the npm package @bazel/ibazel to run the program. If the node_modules/ dir is present, it segfaults. rm -rf, restart, works fine, until restart again with node_modules/ back.

Removing @bazel/ibazel from my machine, just building ibazel tool out of git, and moving it into $PATH works-for-me.

[2020-10-29 18:55] achew22 commented on #416
I did a release this morning. Is this error report for v0.14?

[2020-11-05 18:30] bduffany opened #434 "Permission denied error with output runner"
**Describe the bug**

Output runner is logging this error:

[code]

**Reproduction instructions**

- Create an output runner config like the one in the README
- Edit a `BUILD` file for a Go target so that it's missing a dependency
- Try to build the target
- Gazelle should be run
- It does look like Gazelle is run, but I'm also getting this error. Not sure whether this is a problem, but it's mildl

[2020-11-05 22:14] achew22 commented on #434
Out of curiosity, did this happen after the `build` stage failed?

[2020-11-13 19:56] achew22 opened #436 "Modify project permissions"
@philwo thank you so much for offering to help modify the Bazel Watcher project permissions and thank you for giving the community a forum for conversation. I really love the project and want to see it as great as it can be.

Thanks so much!

[2020-11-16 16:17] vpanta commented on #421
This is merged

[2020-11-16 16:17] #421 closed

[2020-11-16 20:00] philwo commented on #436
@achew22 You're admin of this repo now. Please let me know if you need anything else. 😊

[2020-11-16 20:22] achew22 commented on #436
Looks like it was successful. I'm very glad I don't have to bug Tony any more. Please convey my thanks to him for all the help he provided me. Thank you so much to both of you!

[2020-11-16 20:22] #436 closed

[2020-11-17 00:42] #415 closed

[2020-11-18 10:51] gyakushev opened #437 "Killing old process only when the build succeeds."
I use ibazel to restart web server that takes some time to compile.
Is it possible to configure ibazel so it only kills the currently running binary after the build succeeds to avoid downtime?
If not, can you point me to a code location where it can be adjusted?

Thanks!

[2020-11-20 21:27] achew22 commented on #437
Hey @gyakushev,

This is definitely something that could be changed but it will require a little bit of effort. Right now it just invokes `bazel run` to actually run a program directly. It's a pretty simple process. ibazel is just a state machine that emits events to listeners. One of them is the command listener. It has a [`NotifyOfChange`](https://github.com/bazelbuild/bazel-watcher/blob/master/

[2020-11-20 22:53] gyakushev commented on #437
If we do it for ourselves we'll be sure to send you the PR.

[2020-11-22 16:21] kylecordes opened #438 "MacOS: Too many open files (still)"
**Describe the bug**

A recent change improved file watching. But nonetheless, the MacOS Too many open files there are still happens… At least on my machine. See closed issues #109 and #402.

**Reproduction instructions**

https://github.com/kylecordes/ibazel_repro

Steps to reproduce the behavior:
1. `git clone git@github.com:kylecordes/ibazel_repro.git`
2. `yarn run serve`  (which runs ibazel)
3

[2020-11-22 16:23] kylecordes commented on #438
Looks like @achew22 and @joeljeske have improved this already in past issues.

[2020-11-22 16:26] achew22 commented on #438
How many files are you looking to watch?

[2020-11-22 16:30] joeljeske commented on #438
Actually, my PR to fix this on MacOS never landed, I think it's still open. I couldn't resolve a failing test. I would love some help with it.

[2020-11-22 16:31] joeljeske commented on #438
Nope, it was auto closed.

https://github.com/bazelbuild/bazel-watcher/pull/406

I ended up having to fork since we needed this change. I would love to land it upstream though.

[2020-11-22 17:34] achew22 commented on #438
@joeljeske the last comment on that thread was you saying:

How can I help push this over the line? I've reopened the PR if you'd like to move discussion over there.

[2020-11-22 17:36] joeljeske commented on #438
Oh shoot you're right. I forgot that's where we ended up. I'll try to find time The next couple days to rebase and see about removing that test. Sorry for dropping the ball here!

[2020-11-22 22:34] kylecordes commented on #438
@achew22 Thousands; but I don't know exactly how many offhand.

I haven’t dug into the APIs for file notifications in a few years, but I was under the impression a reasonably optimal implementation would be indifferent to the number of files on all major platforms. (Though the number of directories may still be limited.)

[2020-11-22 23:06] joeljeske commented on #438
Another note, when I was adding FSEvents, I noted that the current algorithm was to stat each watched dir before watch mode startup, which also caused perf issues on some systems. I wasn't sure the reasoning of this, and definitely when using FSEvents it shouldn't be necessary.

@achew22 any idea why this is needed?

[2020-11-23 01:01] achew22 commented on #438
Does it stat in `FSEvents` and in `FSNotify`?

[2020-11-23 01:11] joeljeske commented on #438
No, it's in iBazel, would we be able to remove it?

ibazel/ibazel.go:518

[2020-11-23 01:26] achew22 commented on #438
If you'd like to refactor that codepath to require fewer invocations of `stat` then I'd be happy to accept it, provided the e2e tests pass, but let's do that in another PR if that's okay.

[2020-11-23 18:15] joeljeske commented on #438
I updated that PR and tests passed. @kylecordes if you could try that branch and let me know if that fixes your issue that would be helpful. Thanks!

[2020-11-25 07:47] curiousleo opened #439 "Build errors with Bazel 3.3.1 on NixOS"
**Describe the bug**
`bazel build //ibazel` fails after a fresh checkout.

**Reproduction instructions**

[code]

**Expected behavior**
`bazel build //ibazel` should succeed.

**`bazel query --output=build //ibazel`**

[code]

**Version (please complete the following information):**
 - OS: NixOS
 - Browser: Firefox (not relevant here, I think)
 - ibazel Version 435512a8d6806fb1913ab536685febd25ed0

[2020-11-25 22:11] achew22 commented on #439
My preference is to start working through the error messages one at a time. Could you sync past https://github.com/bazelbuild/bazel-watcher/pull/440 and tell me if that fixes the issue?

[2020-11-29 04:37] kylecordes commented on #438
@joeljeske Yes, on that PR branch, commit 3d730211ba6c6b87d78841702a81998d6bddaa88 as I write this, ibazel now handles my repro example project without error. Thanks!

[2020-11-30 21:25] curiousleo commented on #439
Absolutely, makes sense!

Done -- same error AFAICT:

[code]

[2020-11-30 21:38] achew22 commented on #439
Hrm... I have NO idea why this would matter, but could you try upgrading to `bazel 3.7.0`? It's what the CI runs are against. `Build label: 3.3.1- (@non-git)` is also a bit strange as a build label for bazel, where did that come from?

[2020-11-30 22:19] curiousleo commented on #439
This is the Bazel version that ships with NixOS 20.09: https://github.com/NixOS/nixpkgs/blob/release-20.09/pkgs/development/tools/build-managers/bazel/bazel_3/default.nix#L28

Looking this up, I just found that `bazel-watcher` 0.13.1 also comes with NixOS! https://github.com/NixOS/nixpkgs/blob/release-20.09/pkgs/development/tools/bazel-watcher/default.nix#L16

Installing `bazel-watcher` via Nix wo

[2020-12-01 22:31] djmarcin commented on #426
I don't think this strategy is going to work long-term. https://docs.bazel.build/versions/master/configurable-attributes.html are arbitrary and user-defined, so it's not possible to maintain a list of flags to pass through.

`ibazel` should probably adopt something like the `--` syntax used by other utilities to mean "all flags after this point are passed blindly to the underlying bazel process",

[2020-12-02 02:51] achew22 commented on #426
@djmarcin, I totally agree. I've got pretty robust e2e testing in place and would love to get a patch to improve it. What can I do to make it simple enough that you could contribute a patch?

[2020-12-02 03:33] achew22 commented on #439
Hrm... I guess I'm glad that it works but dismayed that it doesn't build consistently. I don't know what a nix marker is, but it sounds... bad? maybe? If there is any work that can be done to upstream those differences I would love a PR and a few words to help me understand why it is significant.

Closing, but please feel free to reopen if you need anything else.

[2020-12-02 03:33] #439 closed

[2020-12-02 03:44] djmarcin commented on #426
I might be able to look at this sometime this month. Let me know if there’s
anything specific about implementation or testing you had in mind.

On Tue, Dec 1, 2020 at 6:51 PM Andrew Z Allen <notifications@github.com>
wrote:

[2020-12-12 14:28] simmonmt commented on #434
@achew22 for me, yes.

[code]

Bazel 3.7.1
ibazel 35ab9a9 (current HEAD)

FWIW this problem was happening with an ancient version of ibazel as well (from 2019). I noticed that ibazel was ancient, updated to HEAD, rebuilt, and the new version has the same problem.

[code]

In my case Gazelle is **not** getting run.

Also strange, ibazel will run Gazelle if it notices a missing dependency on its **f

[2020-12-13 04:17] achew22 commented on #434
Is there any chance I could have you add a test case into `//e2e` that demonstrates this?

[2020-12-13 21:24] simmonmt opened #447 "ibazel --run_output behaves inconsistently for bazel run"
**Describe the bug**

`ibazel run --run_output` enables the `run_output` machinery unconditionally for the first iteration (start), but only enables it conditionally for the second iteration (notify). It only appears to work for the notify iteration when `ibazel_notify_changes` is set in the requested rule.

This causes unexpected behavior when ibazel is used to run a command that has not specific

[2020-12-13 21:33] simmonmt commented on #434
@achew22 sorry for the misdirection. It looks like the error message was a red herring. I've separately reported the higher-level problem I'm seeing in https://github.com/bazelbuild/bazel-watcher/issues/447

[2020-12-13 22:29] simmonmt commented on #447
I acknowledge that this behavior is documented in the README. My assertion is that the behavior is confusing, and assumes that users read the docs (which we/they don't). It wouldn't be quite so confusing if ibazel didn't do run_output parsing in the startup phase.

[2020-12-16 21:46] Toxicable opened #448 "Support ibazel coverage"
Hey team, we're looking at integrating coverage into our repository with bazel and we're after continuous updates to our coverage.
Currently we need to develop our tests with `ibazel run :target` then separately we run `bazel coverage :target`, however ideally we'd just run `ibazel coverage :target` to get fast updates to our code coverage

[2020-12-16 22:40] achew22 commented on #448
Oh how I wish there was a team behind this 🤣. Sorry, it's just me.

Alright, here is how I would go about doing this:

1) Add a new `Test` method into `ibazel.go` called `Coverage`

  https://github.com/bazelbuild/bazel-watcher/blob/35ab9a9994dea4bc2822039c3617da28317094f0/ibazel/ibazel.go#L264-L267

2) Add a new case statement to handle `coverage` being passed in on the command line:

  https://g

[2020-12-17 06:02] achew22 commented on #447
I think I agree with your description of this as non-intuitive behavior. Likely even behavior that has tripped me up by mistake in the past. I would be very happy to accept a PR to make the flag behavior persist after the first run.

[2020-12-22 04:20] karlhepler commented on #291
Hi @achew22 - I'm having exactly the same issue. ibazel claims to send SIGINT to the process group, but my traps aren't working. I've tried multiple different traps with posix sh and with bash. In all cases, my traps are not triggered. Does ibazel work out of a different process group or something? That's the only thing I can figure...

[2020-12-22 04:41] karlhepler commented on #291
Wait! On a whim, I downloaded the latest version and it worked. I installed my version of `ibazel` with Homebrew and it looks like Homebrew's version is stuck at `0.13.1`. How does this get updated? Is this something you're able to do? Or do you think I should forgo Homebrew?

[2020-12-22 06:43] achew22 commented on #291
I do not maintain the ibazel homebrew package. That said, I can't imagine it would be hard to update. Do you know where brew is pulling the installation instructions from?

[2020-12-22 14:07] karlhepler commented on #291
All I really know are the commands I run to get it. I'm not sure how it works other than that. I'm not sure how to trace down where it's coming from.

[code]

[2020-12-22 14:08] karlhepler commented on #291
Maybe here? Just a guess... https://github.com/bazelbuild/homebrew-tap/blob/master/Formula/ibazel.rb

[2020-12-22 14:10] karlhepler commented on #291
Confirmed... and it looks like someone already submitted a PR... in November. :-/

[2020-12-22 14:11] karlhepler commented on #291
https://github.com/bazelbuild/homebrew-tap/pull/103

[2020-12-22 14:12] karlhepler commented on #291
@achew22 - according to [CODEOWNERS](https://github.com/bazelbuild/homebrew-tap/blob/master/CODEOWNERS#L5), it looks like you might be able to merge it so it can be released?

[2020-12-22 21:02] achew22 commented on #291
Heh, looks like ibazel is the only project actually served out of there. https://github.com/bazelbuild/homebrew-tap/tree/master/Formula

Would you be interested in moving [`ibazel.rb`](https://github.com/bazelbuild/homebrew-tap/blob/master/Formula/ibazel.rb) into [homebriew-core](https://github.com/Homebrew/homebrew-core/tree/master/Formula)? I think that would allow the separate tap repo to be de

[2020-12-23 14:42] karlhepler commented on #291
I think that would be a great thing to do after [this PR](https://github.com/bazelbuild/homebrew-tap/pull/103) is merged. I'd like to see if we can put out the "fire" before introducing a new feature.

[2020-12-23 17:04] achew22 commented on #291
While I am in the CODEOWNERS file, I'm not a repo member. This means I have no ability to merge or modify that commit. If you think you can draw the attention of someone in that repo who can commit that seems like a reasonable step forward, but I don't have a green merge button.

[2020-12-28 19:01] karlhepler commented on #291
Gotcha. Thanks. I wasn't aware that you could not merge it. I'll see what I can do when I have a chance.

[2021-01-05 01:13] #416 closed

[2021-01-05 19:37] bduffany opened #451 "Idea: run initial bazel query in the background"
IIUC, `ibazel` can be slow on the first execution because of the `bazel query` that it has to run to determine which files to watch.

Would it improve performance at all if this `bazel query` were instead run _after_ the initial build?

[2021-01-05 21:34] achew22 commented on #451
Hey @bduffany, thanks for the idea!

Two things spring to mind here:

1. It's true that an invocation of `ibazel build foo` causes  `bazel query` to be run, but I would be interested in seeing some benchmarking on this before we declare it a performance horror. I have a funny feeling that the `bazel query` that `ibazel` runs is very likely to be **exactly** what bazel needs to run to figure out wh

[2021-01-19 01:37] #427 closed

[2021-01-21 13:04] forking-renovate[bot] opened #455 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-28 01:15] achew22 commented on #437
@gyakushev did you have any luck with this?

[2021-01-28 16:38] gyakushev commented on #437
@achew22 sorry, switched to other stuff. Highly unlikely we'll work on it any time soon.

[2021-02-01 01:30] djmarcin commented on #426
Sorry for not circling back. This actually wasn't very straightforward (some options need to be passed in different places, e.g. `bazel <some go here> build <others go here>`) so I worked around it by just putting options into a custom `.bazelrc` instead.

[2021-02-06 00:48] #438 closed

[2021-02-19 00:50] #434 closed

[2021-02-22 00:51] #448 closed

[2021-02-23 00:51] #447 closed

[2021-02-23 21:56] herman-rogers opened #460 "Publish v0.15.0 to NPM"
Just a quick question - will ibazel v0.15.0 be published to npm?

[2021-02-24 05:26] achew22 commented on #460
Yeah, the intent is to fix it up. Unfortunately $DAYJOB is totally insane. If I do not do a 0.15.0 release on NPM in the next week please ping again.

[2021-03-05 09:57] lukasholzer opened #463 "iBazel rebuild fails on Windows"
**Describe the bug**
When running a bazel runfile with `ibazel` and having the `"ibazel_notify_changes"` tag set on the binary a change at a dependency is failing the build.

**Reproduction instructions**

Steps to reproduce the behaviour:
1. `https://github.com/lukasholzer/ibazel-windows-bug`
2. `ibazel run godev` (same happens when running `ibazel run nodedev` – it is not related to the binary i

[2021-03-05 17:19] achew22 commented on #463
Based on the wave of thumbs on this, I'm going to guess this is a pretty common thing. Unfortunately I don't have any windows boxes I can test anything on. I do have tests running on Windows during CI and a very nice e2e testing framework that makes it pretty simple to create a testcase like this. Is there a way for someone from the thumbs up group (@thomaspink, @philippraab, @mikekuss, @nimrod13,

[2021-03-14 00:57] #451 closed

[2021-03-18 21:51] mc0 commented on #460
A friendly ping :). It looks like the brew recipe is also stale at 0.13.1.

[2021-03-22 16:20] achew22 opened #467 "GitHub actions are failint"
There appears to be something wrong with the GitHub actions setup for getting things stamped.

[2021-03-22 16:21] achew22 commented on #467
[code]

I added the fetch-depth thing to no avail but then I realized there are 2 of them. I'm going to try `--always` in the stamp script which should make it work no matter what (even if it's tagged wrong, which would be bad but would be educational)

[2021-03-22 16:43] joeljeske commented on #467
I think the GH Actions is not fetching the tags locally. I think its doing a shallow clone of the SHA but without any branches/tags in the cloned repo.

[2021-03-22 16:44] joeljeske commented on #467
Do you want to try adding fetch-depth:0 to the checkout?
https://github.com/actions/checkout#Fetch-all-history-for-all-tags-and-branches

Alternatively we could try a post-checkout fetch of the tags or unshallow the clone?

[2021-03-22 17:32] achew22 commented on #467
Here is the result of adding `fetch-depth:0`

https://github.com/bazelbuild/bazel-watcher/runs/2167896165?check_suite_focus=true

But it doesn't look like it showed up on the npm side

https://www.npmjs.com/package/@bazel/ibazel

Thanks for helping me get this closer!

[2021-03-22 17:52] joeljeske commented on #467
For better or worse, I hade made it only publish to npm if it was the result of creating a new GH release
https://github.com/bazelbuild/bazel-watcher/blob/master/.github/workflows/release.yaml#L116

[2021-03-22 17:53] joeljeske commented on #467
You could remove that condition, or try to create a formal GH release (not just a tag and manually running it)

[2021-03-22 17:53] joeljeske commented on #467
That condition corresponds with the condition to upload the assets to the real GH release
https://github.com/bazelbuild/bazel-watcher/blob/master/.github/workflows/release.yaml#L63

[2021-03-22 22:59] achew22 commented on #467
Let's try doing a full release! https://github.com/bazelbuild/bazel-watcher/actions/runs/677723048

[2021-03-22 23:13] achew22 commented on #467
That looks VERY promising! Now to figure out how to allow a service account to deploy when you have two factor turned on... this'll be fun...

[2021-03-22 23:35] achew22 commented on #467
I think this is the one https://github.com/bazelbuild/bazel-watcher/actions/runs/677790605

[2021-03-22 23:42] achew22 commented on #467
I sort of had the idea that this would fix it

![image](https://user-images.githubusercontent.com/37206/112071685-f1baa280-8b35-11eb-871f-11385e9a99c7.png)

but apparently not? Maybe NPM has some latency between that setting being changed and taking effect. I'll try a release again later.

[2021-03-23 12:37] joeljeske commented on #467
I don’t think you want 2fa on the publishing token at all. Option 1?

https://github.com/bazelbuild/bazel-watcher/pull/456#discussion_r565758390

[2021-03-23 16:31] achew22 commented on #467
If I pick option 1 that will disable the requirement that MFA be turned on for manual pushes which means that someone who guesses my password alone would be able to publish. Option 2 seems like the correct one since we are using automation tokens and those automation tokens are not bound to MFA?

[2021-03-23 16:58] achew22 commented on #467
As a quick test I tried releasing `v0.15.5` with MFA completely disabled. It is now reenabled.

Lessons learned from this test:

* It doesn't matter what the setting is, which means it is probably a setting that comes from the `@bazel` organization.
* I have no idea who owns the `@bazel` organization so I can ask them to change this setting 😦

[2021-03-23 18:08] joeljeske commented on #467
Have you tried the steps I put here? https://github.com/bazelbuild/bazel-watcher/pull/456#discussion_r565758390

I think you need a new explicit token for automation.

[2021-03-23 22:36] achew22 commented on #467
Yes, I have generated an auth token.

![image](https://user-images.githubusercontent.com/37206/112227764-c6978800-8bf5-11eb-8dea-b45060550bae.png)

Did I miss a step in that?

[2021-03-24 03:19] achew22 commented on #467
Since I don't have a good way to validate the kind of token behind that, I'm going to try generating a new automation token and see what happens.

[2021-03-24 03:29] achew22 commented on #467
I think that might have been it! Thanks so much @joeljeske for all your hard work on this. I really appreciate it.

[2021-03-24 03:29] #467 closed

[2021-03-24 12:15] herman-rogers commented on #460
@bazel/ibazel is at version 0.15.6 on npm. Thanks @achew22 !

[2021-03-24 12:15] #460 closed

[2021-03-25 17:45] dhalperi opened #468 "ibazel can't watch a grpc binary that it can build and run"
**Describe the bug**
ibazel fails on bazel query, then successfully runs the binary (without watching it)

**Reproduction instructions**

Steps to reproduce the behavior:
1. `git clone https://github.com/dhalperi/bazel-watcher-grpc-problem`
2. `ibazel run //example-hostname:hostname-server`

Fails on bazel query, then runs without watching.

**Expected behavior**

Runs with watching

**`bazel quer

[2021-03-25 19:37] achew22 commented on #468
When you run

[code]

what does it say?

[2021-03-25 19:55] dhalperi commented on #468
[code]

These deps are not actually required to build and run, so not sure why this happens.

[2021-03-25 23:38] achew22 commented on #468
Unfortunately, ibazel needs to be able to traverse the entire dependency graph to figure out which files to watch. There is no way for ibazel know that whatever is behind this broken edge isn't something that needs to be watched on disk.

[code]

needs to be resolved, but once you fix that ibazel should be able to watch all your files.

Once you've addressed that, please comment on this issue to s

[2021-03-26 00:15] dhalperi commented on #468
Hmm. Is there a reason `ibazel` has to use the unconfigured graph?

`bazel cquery "deps(set(//example-hostname:hostname-server))"`

works just fine

[2021-03-26 00:16] achew22 commented on #468
`cquery` didn't exist when I wrote it. Happy to take pull requests

[2021-03-26 00:35] dhalperi commented on #468
Taking a look at related things.

Useful/relevant: https://github.com/bazelbuild/bazel-watcher/issues/305

[2021-03-29 15:31] vpanta opened #469 "ibazel v0.15.7 reports as v0.15.6"
**Describe the bug**
Installing/running `v0.15.7` says it's `v0.15.6` (macOS)

**Reproduction instructions**
Install `v0.15.7` and look at the `ibazel` output

**Expected behavior**
It should report it as `v0.15.7`

**Additional context**
Looking at it, it seems like `v0.15.6` and `v0.15.7` were from the same commit and were released on the same day (maybe by accident). I'm not sure how the versio

[2021-03-29 16:54] dhalperi commented on #468
Adding the unnecessary external repos does fix the issue (bazel query works again); still looking into whether we can move to cquery. Past bugs look hairy, though.

[2021-03-29 16:54] #468 closed

[2021-04-07 00:20] #437 closed

[2021-04-11 00:23] #426 closed

[2021-04-12 19:57] joneshf commented on #248
Can we re-visit this issue? Trying to get livereload to work with `ibazel` is still non-trivial. The suggested ideas here and the proof of concept seem like they'd be incredibly easier to use.

[2021-04-15 01:07] vpanta commented on #469
Closing as you've updated with a new release (without the double-pub)

[2021-04-15 01:07] #469 closed

[2021-04-25 06:22] sgammon commented on #358
@achew22 can we re-open just one more time? i'm about to submit a PR that fixes this (by adding a flag to force serving -- i still don't know why it isn't finding the tag).

[2021-04-27 15:59] achew22 commented on #248
There isn't anything that prevents you from using the poc. Nothing in ibazel was changed so there isn't any code modification necessary in ibazel to use it.

[2021-05-13 14:22] joneshf commented on #248
Right, that's what I ended up doing. The part I'd like to revisit is merging that work into this repo.

The reason I'd like to revisit merging into this repo is three-fold:
1. As it sits now, it's pretty hard to get livereload working. I couldn't get any of the other suggestions in this repo to really work. The suggestions of using environment variables doesn't reliably work since different server

[2021-07-01 17:57] sxlijin opened #476 "bazel query not called with right terminal flags"
**Describe the bug**
When `ibazel build` is run, `bazel query` is not called with the correct flag to trigger the right curses behavior:

[code]

**Reproduction instructions**
n/a, private repo (have not tried to repro on a public one)

**Expected behavior**
Correct curses behavior.

**Version (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - ibaz

[2021-07-01 21:05] achew22 commented on #476
How are you invoking `ibazel`? It's likely that you're using some flag that isn't on the known flags list and it's a pretty easy fix.

[2021-07-02 19:20] sxlijin commented on #476
Just from my command prompt, there's no subprocess/tty/fd fiddliness involved in how I'm invoking it.

I'm using `tmux` inside Windows Terminal inside WSL, but I don't think that makes a difference. I also have `TERM=tmux-256color`, also would be surprised if `ibazel` was getting confused by that.

`--curses=yes` is the flag I remember fixing for a bunch of things in google3 that launched `blaze`

[2021-07-03 00:24] achew22 commented on #476
I'm trying to identify the arguments you're passing into `ibazel`, can you please provide them?

I wrote `ibazel` on a plane without an internet connection, they share not a single line of code so far as I know.

[2021-07-16 15:09] mistic opened #478 "Aborting an in progress build when a new one is needed"
I believe this is more a suggestion to improve `iBazel` then a bug report.

I think it will be very useful to abort an in progress build when we got the information a new one is needed. For instance, I had `iBazel` running, switched to master, and then pulled upstream. Unfortunately `iBazel` started running the build as soon as I switched branches which means it was running a bunch of builds which

[2021-07-25 22:18] andremarianiello commented on #427
Is there a way to un-stale this issue? @pascalfleury Are you still working on this?

[2021-07-27 19:35] achew22 commented on #478
Hey @mistic,

Just to sketch out how I would think about this:

In my experience, things that are controlled through environment variables have very poor discoverability unless they're required and cause error output if they aren't provided so I think I'd like to stay away from that. My preference would be to make it similar to `ibazel_skip_live_reload` et al. that way it can be done on a per-targ

[2021-07-28 00:39] mistic commented on #478
@achew22 thanks for looking into this. Overall I like the approach you suggested, the only thing I would want us to have in the future is a also a way to configure iBazel to just adopt the live reload behaviour for everything by default unless it founds a specific tag in a target to not do it `ibazel_skip_live_reload` while with the live reload behaviour disable the tag `ibazel_live_reload` should

[2021-09-01 19:17] sxlijin commented on #476
Sorry for the slow response, missed the notification on this... I wasn't passing in anything special.

[code]

[2021-09-27 15:11] mistic commented on #478
This issue is being addressed at https://github.com/bazelbuild/bazel-watcher/pull/479

[2021-10-17 20:48] Jakob-em opened #482 "Apple silicon support?"
**Describe the bug**
When running the ibazel version downloaded by npm I get the following error on an M1 Mac:

[code]

Steps to reproduce the behavior:
1. `git clone git@github.com:bazelbuild/rules_nodejs.git`
2. `cd examples/angular`
2. `ibazel run //src:devserver`
4. See error

**Version (please complete the following information):**
 - OS: macOS Big Sur 11.6
 - ibazel version: -
 - Bazel versi

[2021-10-18 01:12] forking-renovate[bot] opened #485 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/bazelbuild/bazel-watcher).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Ed

[2021-11-01 17:30] sxlijin commented on #476
Not stale, just awaiting response.

[2021-11-09 01:17] achew22 commented on #476
I tried poking around this for a bit and I can't reproduce. Without a testcase for reproduction purposes I don't think there is much I can do here

[2021-11-09 03:30] sxlijin commented on #476
Hmm. Lemme poke more at this and figure out what it is in our setup that's causing this...

[2021-11-17 14:24] mistic commented on #482
I believe this is another urgent thing to work on @achew22 as both bazelisk and bazel already supports `darwin_arm64` natively.

[2021-12-01 22:21] spalger opened #493 "Build for ARM Macs?"
I'm trying to develop on a Mac with a fully native toolchain and ibazel is the last tool which doesn't have an ARM build. I've tried running ibazel from brew using rosetta but it spawns a bazel server under rosetta too which causes other problems with the toolchain. I've also tried to build ibazel myself using `bazel build //ibazel` and get errors about `no matching toolchains found for types @io_

[2021-12-03 17:59] mistic commented on #493
Both me and @mrmeku did some experiments around this and ultimately trace the problem to https://github.com/fsnotify/fsevents/issues/50

Last time we discussed this I was told @gregmagolan knows how to tackle it

[2021-12-05 01:13] #478 closed

[2021-12-06 00:20] mistic commented on #478
I would like to re-open this PR and be able to merge it with the upstream

[2021-12-06 00:20] mistic commented on #478
This issue is not ready to be closed as the PRs to solve it were not merged

[2021-12-10 20:30] sxlijin commented on #476
Update: looks like I can repro this outside of my company's repo. Maybe it's something in my dotfiles? I've dumped out my `env` to see if there's anything that jumps out at you.

(This is now just a machine with a recent Ubuntu flavor on it, so nothing Windows specific here.)

[code]

[2021-12-15 09:52] zoidbergwill commented on #493
Seems like a duplicate of https://github.com/bazelbuild/bazel-watcher/issues/482 ?

Though this issue has more info about how to fix it.

[2021-12-15 14:10] zoidbergwill commented on #493
Anyway anyone else can help with this problem, @gregmagolan?

I managed to run `bazel build //ibazel` on my M1 Mac, after updating rules_go, but I'm not sure if there is something else I need to run too.

[2021-12-15 14:11] zoidbergwill commented on #493
I also tried to have a look at https://github.com/fsnotify/fsevents/issues/50 , but I think for that we might need to do the different types of builds on machines with different architectures?

[2022-01-17 01:56] Splaktar commented on #482
This issue is still a problem.

[2022-01-20 05:31] jakelauer opened #497 ""ibazel run" and "bazel run" of a nodejs_binary rule execute in different working directories"
**Describe the bug**
"ibazel run" and "bazel run" of a nodejs_binary rule execute in different working directories. When running via bazel, the rule executes in the bazel ~~sandbox~~ execution directory, but with ibazel, it runs in the workspace directory.

**Reproduction instructions**
**logdir.js**
[code]

**BUILD**
[code]

Steps to reproduce the behavior:
1. In a bazel project using nodejs_rule

[2022-01-20 17:27] pauldraper commented on #497
Nit: It's not running in a sandbox directory, but rather the executable's execution directory, which is `<executable>/<workspace>`.

It should be relatively straightforward for ibazel to execute the process in this directory as well.

[2022-01-20 18:05] jakelauer commented on #497
Ah yeah, thanks for the correction there.

[2022-02-03 10:58] zoidbergwill commented on #493
Sounds like @mistic figured it out in https://github.com/fsnotify/fsevents/issues/50#issuecomment-1015795295

And hopefully https://github.com/bazelbuild/bazel-watcher/pull/496 will fix it

Thanks @mistic!

[2022-02-03 14:06] mistic commented on #493
Now we just need to get the PR I've opened to be able to move forward @zoidbergwill but it is still waiting for reviews

[2022-02-04 20:21] achew22 commented on #493
Unfortunately all the PRs that claim to fix this do not pass CI. There is no path forward if CI is red, and I don't have an arm mac to do any testing on.

[2022-02-04 20:38] achew22 commented on #497
`ibazel run` only runs `bazel run` on behalf of the user, it doesn't do anything special with working directories or anything like that. I am reluctant to implement something like this, because it means that people using `ibazel run` would have a different experience from people running `bazel run` which will lead to all kinds of confusion in other ways.

If you'd like this behavior, it would be b

[2022-02-04 20:38] #497 closed

[2022-02-04 20:54] mistic commented on #493
@achew22 I dont think that is true, the red CI is being caused by the miss of https://github.com/bazelbuild/bazel-watcher/pull/496/commits/a28f5289b532deca1d8c058fa5e3f6e956bc15a8 which I've reverted as I was not sure about it and was waiting on your review to understand wether or not it make sense. I have arm hardware and I'm available to work with you to move the PR forward as long as you are av

[2022-02-04 21:08] mistic commented on #493
Just reverted the change I mentioned and the CI is now green.

[2022-02-04 23:54] jakelauer commented on #497
I'm not requesting this behavior, I'm saying this _is_ the behavior I'm seeing, and I don't want it. I want `bazel run` and `ibazel run` to be identical, but they are not.

[2022-02-04 23:59] jakelauer commented on #497
I'd reopen, but I'm not sure how to, haha.

[2022-02-05 01:02] zactivator opened #499 "--define args not passed in `ibazel run`; but passed in `ibazel build`"
**Describe the bug**
Passing a `--define` value, in this case required for a macro, does not work with `ibazel run`
It does work, without any issue, in `ibazel build`

**Reproduction instructions**
[A link to a repo where this can be tested
](https://github.com/zactivator/ibazel-define-issue-repro)

Steps to reproduce the behavior:
See readme in repo for full example: `ibazel run --define=somevar=

[2022-02-07 21:03] zactivator commented on #499
I updated macOS to 12.2. Same results.

[2022-02-09 01:17] zactivator commented on #499
I figured out that `IBazel.queryArgs()` filters out the `--define` flag passed to `bazel.CQuery()`. Removing the check at  `ibazel/ibazel.go:544`, it complains about not recognizing `--define=replacement=...` but it will successfully run it. At least once. It seems that perhaps it also kills the watcher.

[2022-02-09 22:38] zactivator commented on #499
Adding onto my exploration yesterday: `bazel.CQuery()` is totally cool with `IBazel.queryArgs()` returning the `--define` flag.

`IBazel.watchFiles()` via `IBazel.queryForSourceFiles()`, however, relies on `bazel.Query()`, which does not like getting that `--define` flag, hence why the run was working but the watcher stopped. From [reading some](https://docs.bazel.build/versions/main/cquery.html)

[2022-02-11 05:29] pauldraper commented on #351
Several API services, several background task workers, headless chrome for PDF generation, PostgreSQL database, Elaticsearch database. Depends what is being edeveloper.

The problem isn't just the variability. I've built a `multirun` rule that uses `selects()` to dynamically choose services.

But that's not a great solution; every time I change on file, every single running services restarts.

It

[2022-02-16 01:18] #476 closed

[2022-03-16 21:26] #482 closed

[2022-03-16 21:26] #493 closed

[2022-03-28 15:44] pauldraper opened #515 "Stop telling me iBazel can invoke programs like Gazelle buildozer, and other BUILD file generators automatically for you based on bazel output"
Whenever I run ibazel, my console lights up with

[code]

I have quieted it by `echo [] > .bazel_fix_commands.json`, but it would be nicer if it weren't a problem in the first place.

[2022-04-18 02:01] #499 closed

[2022-04-21 05:52] codecycleteam opened #517 "Ibazel does not support linux ARM64"
**Describe the bug**
A clear and concise description of what the bug is.
We are trying to install and use ibazel on linux-arm64 environment. But we are receiving error. By looking at code, we found that in node_modules @bazel/ibazel/bin folder does not contain linux_arm64 package and thus we code is throwing error.

**Reproduction instructions**
Install ibazel on linux-arm64 and receiving below er

[2022-04-21 06:36] achew22 commented on #517
If you'd like to extend on the work of mistic in https://github.com/bazelbuild/bazel-watcher/pull/496, I'd be happy to merge a PR to add this to be built as a part of the release process, but I don't have an arm64 linux box to work off of so I'm not going to be able to do that.

[2022-04-21 08:06] codecycleteam commented on #517
@achew22 do you have raspberry pi 4? If yes then it is a ARM processor and you can install official ubuntu OS into it. Check here https://ubuntu.com/download/raspberry-pi
Let me know if any efforts are required from my side.
Thanks

[2022-04-21 15:24] achew22 commented on #517
Sorry to say, I do not have a raspberry pi 4. I think the PR I linked is enough to connect the dots if you want to try it out, otherwise this will have to wait until someone has something that calls for it which I don't see coming soon from me.

[2022-06-05 02:02] #515 closed

[2022-06-08 22:29] matthewjh commented on #515
I agree - this is annoying. How do we reopen this issue?

[2022-07-11 12:16] dudicoco opened #527 "Relation to Skaffold and similar tools"
There are several tools out there such as https://github.com/GoogleContainerTools/skaffold which can detect source code changes, rebuild and redeploy.

Does `bazel-watcher` make such tools redundant (assuming that you are working with bazel, of course)?

[2022-07-11 15:52] achew22 commented on #527
There may be places where `skaffold` is capable of doing more, but I don't know I've never used it. `bazel-watcher` is only focused on the bazel ecosystem and not with the things that surround it.

If your whole toolchain is encapsulated using bazel (be it skaffold, heroku, or anything else) `bazel-watcher` should be able to encompass it and those other tools would become part of a toolchain that

[2022-07-11 15:52] #527 closed, assigned to nobody

[2022-07-26 11:22] teto opened #530 "how to forward arguments to bazel ?"
**Describe the bug**
I would like to be able to forward arguments to bazel (with ibazel Version 0.14.0).
[code]

**Reproduction instructions**
Private repo but my previous command should work with any target

**Expected behavior**
Can pass arguments to bazel

**Version (please complete the following information):**
 - OS: [e.g. iOS] nixos
 - ibazel Version [e.g. 0.2.4] (run `ibazel 2>&1 | head -n

[2022-07-26 14:59] achew22 commented on #530
There are a relatively finite list of flags that we pass down to Bazel. Since we have a list of them, we can handle them in most positions in argv. You should be able to just pass most of them, but if the flag you want to pass isn't in the list, you can add it here in a pr

https://github.com/bazelbuild/bazel-watcher/blob/a81ca7638158e0c320d19c88a18ca3d44138ed65/ibazel/main.go#L33

[2022-07-26 17:11] teto commented on #530
why not pass forward all flags ibazel doesn't recognize ? adding them one by one seems like a lost cause, especially for a programs like bazel with billions flags that keep changing because google doesn't care about backwards compability. I dont know go but surely it's possible to at least for now mentions "unsupported flag" instead of:
[code]
(or maybe it's fixed on master, sry I have't tried)

[2022-07-26 19:45] achew22 commented on #530
If you'd like to revisit the strategy for flag handling, I would love a PR to improve it! How can I help out with that process?

[2022-07-27 15:55] teto commented on #530
thanks for the offer but I have 50 open PRs, I will try to merge those first. Just keep the issue open in case someone with more abilities/availibility want to take it on ?

[2022-07-28 06:18] achew22 commented on #530
There is a pretty good system in place to pass flags that are already in that list. If it's needed, let's open another issue and discuss a design.

[2022-07-28 06:18] #530 closed

[2022-07-28 11:36] teto commented on #530
I dont understand why you closed this ? why do we need to whitelist flags ? A change is needed hence the issue, closing the ticket wont make the problem go away.

[2022-08-02 10:09] sventiffe opened #533 "Migrate brew support from bazelbuild/homebrew-tap to Homebrew/homebrew-core"
We'd like to archive bazelbuild/homebrew-tap and the ibazel.rb formula is the only one left:
https://github.com/bazelbuild/homebrew-tap/blob/master/Formula/ibazel.rb

Would anyone consider migrating the formula to
https://github.com/Homebrew/homebrew-core

[2022-08-03 05:05] achew22 commented on #533
TBH I had totally forgotten this exists.

Unfortunately, I don't know enough about the brew ecosystem to be able to contribute on this one. I was asked to do this by someone from the Bazel team a long, long time ago. I will take advice from the team on what to do if someone is just not supported any more. I would be happy to remove the instructions for installing with Brew and leaving just the `go

[2022-08-03 06:51] sventiffe commented on #533
One way would be to move the formula as it is to homebrew-core but I suspect it has limited value as the current formula supports only one platform (and considering the performance of Apple Silicon machines, probably not even the most future proof one). It looks to me as if the "bottle" concept is the right approach for multi platform support but then I have only very limited knowledge of the home

[2022-08-06 21:36] jfirebaugh commented on #515
You can silence this by creating a `.bazel_fix_commands.json` file at the workspace root whose only contents are `[]`.

I agree there should be a more obvious way though, and this issue should be reopened.

[2022-09-08 11:44] Wyverald opened #541 "stream_test fails intermittently on Bazel CI (macOS)"
Example failure: https://buildkite.com/bazel/bazel-watcher/builds/2461#01831a7b-49ab-460a-81a0-88445c552143 (this is with latest release Bazel, 5.3.0)

This test does not consistently fail (https://buildkite.com/bazel/bazel-watcher/builds?branch=master : it fails about 50% of the time.

[2022-09-12 12:27] meteorcloudy commented on #541
/cc @achew22 Can you look into those test failures? We'll have to disable Bazel watcher in downstream if the main build stays red.

[2022-09-12 17:39] achew22 commented on #541
I think this is a pretty simple timeout issue. Should be addressed by https://github.com/bazelbuild/bazel-watcher/pull/545

[2022-09-12 22:50] achew22 commented on #541
@meteorcloudy I think the issue is fixed. Generally speaking I'm happy to fix stuff like this but I have to say

felt pretty aggressive. This bug was filed 1 work day earlier. You might want to give people a bit more time before threatening them.

[2022-09-12 22:50] #541 closed

[2022-09-13 09:01] meteorcloudy commented on #541
@achew22 Sorry about that, I might get confused with other not so responsive repositories, thanks for the fix!

[2022-09-20 16:34] adam-thomas-privitar opened #549 "Missing support for startup flag "output_base""
**Describe the bug**
Passing `--output_base` to ibazel lists is as an unsupported flag.

**Reproduction instructions**
Build any project with the `--output_base` flag set

Steps to reproduce the behavior:
1. `git clone https://github.com/bazelbuild/bazel-watcher.git`
2. `bazel build  --output_base=/tmp/test //cmd/ibazel`
3. See error

**Expected behavior**
I think there is no reason why this flag

[2022-09-20 17:02] adam-thomas-privitar commented on #549
For anyone else coming across this and you really dont want to be creating a custom build (not good if you are wanting to simply include this a dep) -- you can do hacky shimming of the bazel binary by proxying it through a bash script. This is use case specific to me but:

bazel-watcher-shim.sh
[code]

Then execute

[code]

[2022-09-21 05:57] achew22 commented on #549
If you would like to add the finally to ibazel, it would be a really good first pr into the project. Just add the flag to this list

https://github.com/bazelbuild/bazel-watcher/blob/7f8265bb42522b0a473fba27b37377de0339ef73/cmd/ibazel/main.go#L30-L34

And you'll be off to the races

[2022-09-28 21:58] #549 closed

[2022-10-07 04:10] wmmiii opened #554 "Bazel watcher does not detect rules_rust changes"
**Describe the bug**
When running an executable from [rules_rust][1] such as `rust_binary` using the `ibazel run //:binary` command the watcher does not detect file system changes.

**Reproduction instructions**
See https://github.com/wmmiii/ibazel-rust-error for a minimal reproducible example including steps.

**Expected behavior**
It is expected that once one of the source files is changed that

[2022-10-10 02:34] #533 closed

[2022-10-26 16:03] jeremyeim opened #557 "log.Fatalf being called on finding WORKSPACE.bazel"
**Describe the bug**
The latest release of bazel-watcher doesn't work with a workspace with a `WORKSPACE.bazel`

**Reproduction instructions**
https://github.com/bazelbuild/bazel-watcher/blob/0c0b4953e71f2cae2ac3a6f2eb7dd1b05aec20b0/internal/ibazel/workspace/workspace.go#L59 shouldn't be calling `log.Fatalf`

**Expected behavior**
https://github.com/bazelbuild/bazel-watcher/blob/0c0b4953e71f2cae2a

[2022-10-27 14:57] achew22 commented on #557
This seems like a reasonably straightforward fix. Thanks for doing the research to find the problematic line! How can I help you contribute a patch to solve the problem?

[2022-11-03 04:38] WearyMonkey opened #558 "fsevents silently fails to watch when there are more than 4096 directories"
**Describe the bug**

For large targets that involve more than 4096 directories, changes do not trigger rebuilds.

The fsevents package specifies a maximum of 4096 directories watched and recommended using recursive watches:

https://github.com/fsnotify/fsevents/blob/main/README.md#caveats

**Version (please complete the following information):**
 - OS: osx 12.6 M1
 - ibazel Version 0.16.2
 - Baze

[2022-11-03 04:42] WearyMonkey commented on #558
Raised a potential fix here:
https://github.com/bazelbuild/bazel-watcher/pull/559

[2022-11-18 00:44] BeyondEvil opened #561 "Match group substituting"
**Describe the bug**

Match group substituting in output runner fails under some conditions (see repro instructions).

**Reproduction instructions**

Steps to reproduce the behavior:
1. Check out this branch `https://github.com/BeyondEvil/bazel-watcher/tree/beyondevil/regex-group-bug`
2. `ibazel test //internal/ibazel/output_runner:output_runner_test`
3. See error

**Expected behavior**

I'm expec

[2022-11-18 00:48] BeyondEvil commented on #561
Another unexpected behaviour happens if `args` is:

[code]

[code]

[2022-11-19 20:31] achew22 commented on #561
@BeyondEvil thanks so much for your bug report. Would you be willing to add a failing testcase to our codebase so we can have a more precise conversation around the issue?

https://github.com/bazelbuild/bazel-watcher/blob/34c48343a7943b695c895a714af3822bb1f72d27/internal/ibazel/output_runner/output_runner_test.go#L26-L65

Thanks!

[2022-11-19 21:05] BeyondEvil commented on #561
I can try (again). I already looked at those test in that file, but I have trouble deciphering what it's doing. 😏 🤷‍♂️

[2022-11-19 21:24] BeyondEvil commented on #561
What's the difference between `convertArg` and `convertArgs` and when/how are they used?

[2022-11-19 22:02] BeyondEvil commented on #561
I'm sorry, I'm unsuccessful in creating a failing test. :(

[2022-11-19 22:18] BeyondEvil commented on #561
FYI: I'm running on v0.17.0 which is the latest version available by `Homebrew`, but the latest release seems to be v0.20.0 🤔

[2022-11-19 22:38] BeyondEvil commented on #561
Ok, no wonder I couldn't create a failing tests for `args` - the issue is fixed in master (and v0.20.0) 🤦

However, it fails (and I can create a failing test for it) for `commands`. [commit](https://github.com/bazelbuild/bazel-watcher/commit/9c6d28545917278d9f2269646ddf644e389dea71)

The `-run_output_interactive` flag still isn't working tho:

[code]

[2022-11-19 22:40] BeyondEvil commented on #561
So, to summarize.

- Latest version via `Homebrew` is `v0.17.0` where this issue is present for both `command` and `args`
- Issue is fixed for `args` but not `command` in `v0.20.0`
- Interactive flag fails for `v0.20.0`

[2022-11-21 09:47] BeyondEvil commented on #561
It seems NPM installs an even older version:

[code]

[2022-11-23 21:46] keertk opened #565 "Flag --incompatible_config_setting_private_default_visibility will break Bazel watcher in Bazel 7.0"
Incompatible flag `--incompatible_config_setting_private_default_visibility` will be enabled by default in the next major release (Bazel 7.0), thus breaking Bazel watcher. Please migrate to fix this and unblock the flip of this flag.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/12933.

Please check the following CI builds for build and test results:

- [MacOS, OpenJDK 1

[2022-11-23 22:17] achew22 commented on #565
I think this will be fixed by https://github.com/bazelbuild/bazel-watcher/pull/563. On the next run I expect this will be resolved.

[2022-11-25 09:34] BeyondEvil commented on #561
ping @achew22

[2022-11-25 21:13] achew22 commented on #561
Yep, the binaries that are uploaded to the release pages are up to date. There is some issue with the NPM release process that I've not been able to work out after a solid few hours of trying. I don't use ibazel through the npm ecosystem, it was contributed by someone else, but would generally recommend downloading from these release pages and not from anywhere else.

[2022-11-25 21:15] BeyondEvil commented on #561
Cool, good to know!

What about the interactive flag-issue I'm seeing? @achew22

[2022-11-26 19:30] achew22 commented on #561
To make the flag work, you would need to add it to the list of flags that we pass through to `bazel` https://github.com/bazelbuild/bazel-watcher/blob/master/cmd/ibazel/main.go#L37. Seems like you're using one that ibazel doesn't know about.

[2022-11-26 19:55] BeyondEvil commented on #561
Not sure what you mean, but the flag is mentioned in the ibazel docs https://github.com/bazelbuild/bazel-watcher/blob/master/README.md#output-runner

[code]
@achew22

[2022-11-28 14:15] #565 closed, assigned to nobody

[2022-11-28 19:03] #557 closed